<% body_class 'home header-scroll' %>
<% title '– ' + t('the_date') + ', Norrköping' %>
<% header_class 'transparent' %>
<div class="beamer">
  <div class="content header-scroll-target">
    <%= content_tag :h2, t('media_technology_days') + ' 2016' %>
    <%= content_tag :h1, t('the_date') %>
    <%= content_tag :h2, 'Färgeriet, Kåkenhus' %>
  </div>
  <footer>
    <ul>
      <%= content_tag :li, t('follow_us') + ':' %>
      <%= content_tag :li, link_to(icon('facebook', '', class: 'fa-lg') + ' Facebook', 'https://facebook.com/medieteknikdagarna') %>
      <%= content_tag :li, link_to(icon('twitter', '', class: 'fa-lg') + ' Twitter', 'https://twitter.com/mtdagarna') %>
      <%= content_tag :li, link_to(icon('youtube', '', class: 'fa-lg') + ' YouTube', 'https://youtube.com/mtdagarna') %>
      <%= content_tag :li, link_to(icon('instagram', '', class: 'fa-lg') + ' Instagram', 'https://www.instagram.com/medieteknikdagarna/') %>
    </ul>
  </footer>
</div>
<div class="container">
  <div class="info info--large">
    <div class="row">
      <div class="col-sm-6">
          <%= content_tag :h2, t('.welcome') + '!' %>
          <%= content_tag :p, t('.lead') %>
      </div>

      <div class="col-sm-6">
          <h2><%= t('suggestions.home.title') %></h2>
          <p>
            <%= t('suggestions.home.info') %>
            <%= link_to t('suggestions.home.link'), new_suggestion_path %>
          </p>
      </div>
    </div>
  </div>
</div>

<section class="ribbon">
  <div class="container">
    <div class="info text-center">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2">
          <%= icon 'comments', '', class: 'fa-7x' %>
          <%= content_tag :h4, t('.contacts.title') %>
          <%= content_tag :p, t('.contacts.text') %>
        </div>
        <div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2">
          <%= icon 'lightbulb-o', '', class: 'fa-7x' %>
          <%= content_tag :h4, t('.inspiration.title') %>
          <%= content_tag :p, t('.inspiration.text') %>
        </div>
      </div>
    </div>
  </div>
</section>
