<% body_class 'home header-scroll' %>
<% title '– ' + t('the_date') + ', Norrköping' %>
<% header_class 'transparent' %>
<div class="beamer">
  <div class="content header-scroll-target">
    <%= content_tag :h2, t('media_technology_days') + ' 2015' %>
    <%= content_tag :h1, t('the_date'), class: 'date' %>
    <%= content_tag :h2, 'Campus Norrköping' %>
  </div>
  <footer>
    <ul>
      <%= content_tag :li, t('follow_us') + ':' %>
      <%= content_tag :li, link_to(icon('facebook', '', class: 'fa-lg') + ' Facebook', 'https://facebook.com/medieteknikdagarna') %>
      <%= content_tag :li, link_to(icon('twitter', '', class: 'fa-lg') + ' Twitter', 'https://twitter.com/mtdagarna') %>
      <%= content_tag :li, link_to(icon('youtube', '', class: 'fa-lg') + ' YouTube', 'https://youtube.com/mtdagarna') %>
    </ul>
  </footer>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8">
      <div class="info gray-box">
        <%= content_tag :h3, t('.welcome') + '!' %>
        <%= content_tag :p, t('.lead') %>
      </div>

      <section class="sponsors">
        <h4 class="text-center"><%= t('.main_sponsors') %></h4>
        <% @gold_sponsors.each do |company| %>
          <article class="large-company">
            <%= link_to image_tag(company.image.url, alt: company.name, class: 'img-responsive'),
              company_path(company.slug) if company.image %>
            <h3>
              <%= link_to company.name, company_path(company.slug) %>
            </h3>
            <p>
              <%= truncate(strip_tags(GitHub::Markdown.render_gfm(company.description).html_safe), length: 100, separator: ' ') { link_to t('continue_read'), company_path(company.slug)} %>
            </p>
          </article>
        <% end %>

        <h4 class="text-center"><%= t('.sponsors') %></h4>
        <% @silver_sponsors.each do |company| %>
          <article class="silver-sponsor">
            <%= link_to company_path(company.slug) do %>
              <%= image_tag(company.image.url, alt: company.name, class: 'img-responsive') if company.image %>
            <% end %>
          </article>
        <% end %>
      </section>

      <div class="info gray-box">
        <h5><%= t('suggestions.home.title') %></h5>
        <p>
          <%= t('suggestions.home.info') %>
          <%= link_to t('suggestions.home.link'), new_suggestion_path %>
        </p>
      </div>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <% @news.each do |n| %>
        <div class="info">
          <%= content_tag :h2, link_to(n.title, n) %>
          <p>
            <%= l(n.published_at, format: '%e %B, %Y') %> <%= t('by') %> <%= n.users.to_a.map(&:name).join(', ') %>.
            <%= link_to_if(can?(:update, n), t('edit').titleize, edit_news_path(n)){} %>
          </p>
          <p>
            <%= truncate(strip_tags(GitHub::Markdown.render_gfm(n.content).html_safe), length: 200, separator: ' ') { link_to t('continue_read'), n } %>
          </p>
        </div>
      <% end %>
      <div class="info">
        <%= link_to t('.all_news'), news_index_path %>
      </div>
    </div>
  </div>
</div>

<section class="ribbon">
  <div class="container">
    <div class="info text-center">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2">
          <%= icon 'comments', '', class: 'fa-7x' %>
          <%= content_tag :h4, t('.contacts.title') %>
          <%= content_tag :p, t('.contacts.text') %>
        </div>
        <div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2">
          <%= icon 'lightbulb-o', '', class: 'fa-7x' %>
          <%= content_tag :h4, t('.inspiration.title') %>
          <%= content_tag :p, t('.inspiration.text') %>
        </div>
      </div>
    </div>
  </div>
</section>
