<% body_class 'home header-scroll' %>
<% title '– ' + t('the_date') + ', Norrköping' %>
<% header_class 'transparent' %>
<div class="beamer">
  <div class="content header-scroll-target">
    <%= content_tag :h2, t('media_technology_days') + ' 2017' %>
    <%= content_tag :h1, t('the_date') %>
    <%= content_tag :h2, 'Färgeriet, Kåkenhus' %>
  </div>
  <footer>
    <ul>
      <li><a href="https://itunes.apple.com/se/app/mtd-medieteknikdagarna/id1217982310?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/sv-se/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a></li>
      <li><a href='https://play.google.com/store/apps/details?id=com.medieteknikdagarna.mtd&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' style="display:inline-block;overflow:hidden;">
        <%= image_tag 'icons/Gplay.png', with:'135', height: '40'%>
      </a></li>
    </ul>
    <ul>
      <%= content_tag :li, t('follow_us') + ':' %>
      <%= content_tag :li, link_to(icon('facebook', '', class: 'fa-lg') + ' Facebook', 'https://facebook.com/medieteknikdagarna') %>
      <%= content_tag :li, link_to(icon('twitter', '', class: 'fa-lg') + ' Twitter', 'https://twitter.com/mtdagarna') %>
      <%= content_tag :li, link_to(icon('youtube', '', class: 'fa-lg') + ' YouTube', 'https://youtube.com/mtdagarna') %>
      <%= content_tag :li, link_to(icon('instagram', '', class: 'fa-lg') + ' Instagram', 'https://www.instagram.com/medieteknikdagarna/') %>
    </ul>
  </footer>
</div>
<div class="container">
  <div class="info info--large">
    <div class="row">
      <div class="col-sm-7">
				<%= content_tag :h2, t('.welcome') + '!' %>
				<%= content_tag :p, t('.lead') %>
				<br>

        <div class="sponsors">
					<h2><%= t('.main_sponsors') %></h4>
					<% @gold_sponsors.each do |company| %>
						<article class="large-company">
							<h3> <%= link_to company.name, company_path(company.slug) %> </h3>
							<p> <%= truncate(strip_tags(GitHub::Markdown.render_gfm(company.description).html_safe), length: 200, separator: ' ') { link_to t('continue_read'), company_path(company.slug)} %> </p>
						</article>
					<% end %>
				</div>


      </div>
      <!--
			<div class="col-sm-5">
				<h2><%= t('.news') %></h2>
				<% @news.each do |n| %>
					<%= content_tag :h3, link_to(n.title, n) %>
					<p>
						<%= l(n.published_at, format: '%e %B, %Y') %> <%= t('by') %> <%= n.users.to_a.map(&:name).join(', ') %>.
						<%= link_to_if(can?(:update, n), t('edit').titleize, edit_news_path(n)){} %>
					</p>
					<p> <%= truncate(strip_tags(GitHub::Markdown.render_gfm(n.content).to_s.html_safe), length: 150, separator: ' ') { link_to t('continue_read'), n } %> </p>
				<% end %>
				<p> <%= link_to t('.all_news'), news_index_path %> </p>
			</div>
    -->
    </div>
  </div>
</div>

<!-- static content -->
<div class="ribbon">
	<div class="info">
		<h3 class="text-center"><%= t('.sponsors') %></h4>
		<div class="row">
			<div class="sponsors text-center">
				<div class="col-sm-1"></div> <!--push-->
				<div class="col-sm-2">
					<%= image_tag 'sponsors/skill.png', class: 'sponsor-h-center'%>
				</div>
				<div class="col-sm-2">
					<%= image_tag 'sponsors/dice.png', class: 'sponsor-h-center push-down'%>
				</div>
				<div class="col-sm-2">
					<%= image_tag 'sponsors/tobii.png', class: 'sponsor-h-center push-down'%>
				</div>
        <div class="col-sm-2">
          <%= image_tag 'sponsors/gaia_color.png', class: 'sponsor-h-center push-down'%>
        </div>
        <div class="col-sm-2">
          <%= image_tag 'sponsors/teknomedia.png', class: 'sponsor-h-center push-down'%>
        </div>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="info text-center">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2">
				<%= icon 'comments', '', class: 'fa-7x' %>
				<%= content_tag :h4, t('.contacts.title') %>
				<%= content_tag :p, t('.contacts.text') %>
			</div>
			<div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2">
				<%= icon 'lightbulb-o', '', class: 'fa-7x' %>
				<%= content_tag :h4, t('.inspiration.title') %>
				<%= content_tag :p, t('.inspiration.text') %>
			</div>
		</div>
	</div>
</div>
