<% title '– ' + t('.title') %>
<% if @lectures.any? %>
  <section class="info container info--large limit-width text-center">
    <h1>
      <%= t('.title') %>
    </h1>
    <p class="lead">
      <%= t('.lead') %>
    </p>
  </section>
  <section class="info container">
    <div class="lectures">
      <div class="day">
        <h2>
          <%= l(Date.new(2015, 3, 25), format: '%A %e %B').humanize %>
        </h2>
        <div class="schedule one">
          <% @lectures_one.each do |lecture| %>
            <article class="<%= 'image' if lecture.image_id? %>">
              <%= image_tag lecture.image.url, alt: lecture.name if lecture.image_id? %>
              <h3>
                <%= link_to lecture.title, lecture_path(lecture.slug) %>
              </h3>
              <h4>
                <%= lecture.name + ', ' if lecture.name? %>
                <%= l(lecture.start, format: '%A %e %B %H:%M') %> &mdash;
                <%= l(lecture.stop, format: '%H:%M') %>
              </h4>
              <p>
                <%= truncate(strip_tags(GitHub::Markdown.render_gfm(lecture.description).html_safe),
                  length: 100, separator: ' ') { link_to t('continue_read'), lecture_path(lecture.slug)} %>
              </p>
            </article>
          <% end %>
        </div>
      </div>
      <div class="day">
        <h2>
          <%= l(Date.new(2015, 3, 26), format: '%A %e %B').humanize %>
        </h2>
        <div class="schedule two">
          <% @lectures_two.each do |lecture| %>
            <article class="<%= 'image' if lecture.image_id? %>">
              <%= image_tag lecture.image.url, alt: lecture.name if lecture.image_id? %>
              <h3>
                <%= link_to lecture.title, lecture_path(lecture.slug) %>
              </h3>
              <h4>
                <%= lecture.name + ', ' if lecture.name? %>
                <%= l(lecture.start, format: '%A %e %B %H:%M') %> &mdash;
                <%= l(lecture.stop, format: '%H:%M') %>
              </h4>
              <p>
                <%= truncate(strip_tags(GitHub::Markdown.render_gfm(lecture.description).html_safe),
                  length: 100, separator: ' ') { link_to t('continue_read'), lecture_path(lecture.slug)} %>
              </p>
            </article>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <!-- no lectures -->
  <div class="info container text-center limit-width info--large">
    <h1>
      <%= t('.title') %>
    </h1>
    <p class="lead">
      <%= t('.not_yet') %>
    </p>
    <p>
      <%= t('.pub') %>
      <%= link_to t('.pub_link'), 'https://www.facebook.com/events/459047377579156/' %>
    </p>
  </div>
<% end %>
