<% title '– ' + t('.title') %>
<% if @lectures.any? %>
  <section class="info container info--large limit-width text-center">
    <h1>
      <%= t('.title') %>
    </h1>
    <p class="lead">
      <%= t('.lead') %>
    </p>
  </section>
  <section class="lectures info container limit-width">
    <% @lectures.each_with_index do |lecture, index| %>
      <article class="row info">
        <div class="col-sm-4 <%= index % 2 == 0 ? 'col-sm-push-8' : '' %>">
          <%= image_tag lecture.image.url, alt: lecture.name, class: 'img-responsive' if lecture.image %>
        </div>
        <div class="col-sm-8 <%= index % 2 == 0 ? 'col-sm-pull-4' : '' %>">
          <h3>
            <%= lecture.title %>
          </h3>
          <p class="lead">
            <%= lecture.name %>,
            <%= l(lecture.start, format: '%A %e %B %H:%M') %> &mdash;
            <%= l(lecture.stop, format: '%H:%M') %>
          </p>
          <p>
            <%= truncate(strip_tags(GitHub::Markdown.render_gfm(lecture.description).html_safe), length: 100, separator: ' ') { link_to t('continue_read'), lecture_path(lecture.slug)} %>
          </p>
        </div>
      </article>
    <% end %>
  </section>
<% else %>
  <!-- no lectures -->
  <div class="info container text-center limit-width info--large">
    <h1>
      <%= t('.title') %>
    </h1>
    <p class="lead">
      <%= t('.not_yet') %>
    </p>
    <p>
      <%= t('.pub') %>
      <%= link_to t('.pub_link'), 'https://www.facebook.com/events/459047377579156/' %>
    </p>
  </div>
<% end %>
