<%= render 'common' %>
<div class="container">
  <h2>
    All news
  </h2>
  <%= link_to_if can?(:create, News), semantic_icon('plus') + 'Create new', new_admin_news_path, class: 'ui green labeled icon button' %>

  <table class="ui table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Swedish title
        </th>
        <th>
          English title
        </th>
        <th>
          Authors
        </th>
        <th>
          Status
        </th>
        <th>
          Publishing date
          <%= semantic_icon('caret down') %>
        </th>
        <th>
          &nbsp;
        </th>
      </tr>
    </thead>
    <tbody>
      <% @news.each do |n| %>
        <tr>
          <td>
            <%= n.id %>
          </td>
          <td>
            <% if !n.title_sv or n.title_sv.blank? %>
              <%= semantic_icon('warning sign') + 'Missing' %>
            <% else %>
              <%= n.title_sv %>
            <% end %>
          </td>
          <td>
            <% if !n.title_en or n.title_en.blank? %>
              <%= semantic_icon('warning sign') + 'Missing' %>
            <% else %>
              <%= n.title_en %>
            <% end %>
          </td>
          <td>
            <%= n.users.to_a.map(&:name).join(', ') %>
          </td>
          <td <%= 'class=positive' if n.published_at > DateTime.now and n.status == 'public' %>>
            <% if n.published_at > DateTime.now and n.status == 'public' %>
              Scheduled, published <%= distance_of_time_in_words n.published_at, Time.now, scope: :'datetime.future_time_in_words' %>
            <% else %>
              <%= n.status.humanize %>
            <% end %>
          </td>
          <td>
            <%= n.published_at.strftime('%a %d %b %Y, %H:%M') %>
          </td>
          <td>
            <%= link_to_if can?(:update, n), semantic_icon('write') + "Edit", edit_admin_news_path(n) %>
            <%= link_to_if can?(:destroy, n), semantic_icon('trash') + "Delete", admin_news_path(n), data: {confirm: "Are you sure?"}, method: :delete %>
            <%= link_to semantic_icon('eye') + 'Show', n %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
