<div class="container">
  <h1>
    <%= t('.title') %>
    <small>
      <%= link_to_if(can?(:create, News), t('helpers.submit.news.create'), new_news_path){} %>
    </small>
  </h1>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-info #{key}" %>
  <% end %>

  <% @news.each do |n| %>
    <div class="info limit-width">
      <%= content_tag :h2, link_to(n.title, n) %>
      <p>
        <%= t('published').titleize %> <%= time_ago_in_words n.published_at %> <%= t('by') %> <%= n.users.to_a.map(&:name).join(', ') %>.
        <%= link_to_if(can?(:update, n), t('edit').titleize, edit_news_path(n)){} %>
      </p>
      <p>
        <%= truncate(strip_tags(GitHub::Markdown.render_gfm(n.content).html_safe), length: 200, separator: ' ') { link_to t('continue_read'), n } %>
      </p>
    </div>
  <% end %>

  <%= will_paginate @news %>

  <% if can? :create, News %>
    <h2><%= t('.your_entries') %></h2>

    <% current_user.news.each do |n| %>
      <div class="info limit-width">
        <%= content_tag :h3, link_to(n.title, n) %>
        <p>
          <%= t('published').titleize %> <%= time_ago_in_words n.published_at %> <%= t('by') %> <%= n.users.to_a.map(&:name).join(', ') %>.
          <%= link_to_if(can?(:update, n), t('edit').titleize, edit_news_path(n)){} %>
          <%= link_to_if(can?(:destroy, n), t('delete').humanize, n, data: {confirm: t('are_you_sure')}, method: :delete){} %>
        </p>
        <p>
          <%= truncate(strip_tags(GitHub::Markdown.render_gfm(n.content).html_safe), length: 200, separator: ' ') { link_to t('continue_read'), n } %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
