<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @news.status %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @news.published_at %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
