<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 788 449.333" enable-background="new 0 0 788 449.333" xml:space="preserve"
   class="img-responsive">
<g id="booths">
  <!-- 10 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 10).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="279.242" y="148.493" fill="<%= (c && !c.color.blank?) ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name if c %>" />
    </a>
  <% end %>
  <!-- 35 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 35).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="610.518" y="97.534" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.682" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 34 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 34).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="571.449" y="92.801" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 32 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 32).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="504.197" y="85.789" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 30 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 30).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="460.283" y="82.599" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 8 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 8).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="251.66" y="141.523" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 6 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 6).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="207.327" y="137.37" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 4 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 4).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="179.054" y="137.217" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 3 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 3).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="143.389" y="77.482" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 5 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 5).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="189.256" y="84.776" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 7 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 7).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="216.667" y="89.469" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 9 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 9).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="261.862" y="94.096" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 11 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 11).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="289.444" y="98.25" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 1 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 1).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="113.055" y="72.397" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 21 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 21).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="412.062" y="289.152" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 19 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 19).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="294.562" y="373.913" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.68" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 15 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 15).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="120.661" y="373.913" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.68" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 14 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 14).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="25.593" y="403.34" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.682" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 17 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 17).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="207.327" y="373.913" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.68" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 18 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 18).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="251.66" y="373.913" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.68" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 16 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 16).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="163.66" y="373.913" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.68" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 13 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 13).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="330.229" y="212.186" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.682" height="20.682" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 12 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 12).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="330.229" y="181.197" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.682" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 29 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 29).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="562.062" y="289.152" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 27 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 27).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="527.062" y="289.152" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 25 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 25).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="489.729" y="289.152" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.682" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 23 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 23).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="450.896" y="289.152" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 20 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 20).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="412.109" y="367.267" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 28 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 28).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="561.109" y="367.267" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 26 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 26).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="526.109" y="367.267" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 24 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 24).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="488.776" y="367.267" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 22 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 22).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="449.943" y="367.267" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.68" height="20.681" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 2 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 2).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="128.895" y="132.519" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.682" height="20.682" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 36 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 36).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="646.896" y="130.519" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.682" height="20.682" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
  <!-- 33 -->
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 33).id).first
  if c
  %>
    <a xlink:href="<%= company_path c.slug %>">
      <rect x="553.229" y="149.52" fill="<%= !c.color.blank? ? c.color : '#F1EA31' %>"
        width="20.682" height="20.682" data-toggle="tooltip" data-placement="top"
        title="<%= c.name %>" />
    </a>
  <% end %>
</g>

<g id="booth_names">
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 1).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 119.0518 108.3325)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 3).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 141.3 112.6665)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 2).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 127.0527 131.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 5).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 190.3853 117.6665)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 4).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 180.0522 134.9985)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 6).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 209.0522 136.3325)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 7).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 217.3853 123.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 8).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 253.3188 140.6665)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 9).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 263.3853 128.0325)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 10).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 281.1045 147.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 11).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 291.104 132.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 12).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 352.0 198.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 13).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 352.0 228.3345)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 14).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 44.4375 419.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 15).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 122.104 408.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 16).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 163.437 408.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 17).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 208.4375 408.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 18).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 253.104 408.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 19).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 296.4375 407.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 20).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 412.4375 365.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 21).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 413.1045 323.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 23).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 451.7715 323.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 22).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 451.1045 365.3345)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 25).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 492.1035 323.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 24).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 489.4375 365.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 26).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 528.1035 364.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 27).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 529.1045 323.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 28).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 561.1035 364.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 29).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 562.4375 322.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 30).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 462.1035 116.9985)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 32).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 505.4375 120.6665)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 34).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 573.1045 128.0005)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 35).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 612.1035 132.3325)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 33).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 555.4375 147.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %>
  <%
  c = @companies.where(@day+"_day_booth_id" => Booth.find_by(number: 36).id).first
  if c
  %>
    <text transform="matrix(1 0 0 1 626.7705 146.6655)" font-family="'OpenSans-Bold'" font-size="15">
      <%= c.initials if c.initials %>
    </text>
  <% end %></g>
<g id="detail_colors">
  <path opacity="0.7" fill="#52C8EB" enable-background="new    " d="M697.754,286.233l-76.896,1.424c0,0-32.039,4.51-31.565,49.84
    c0.475,45.332,31.565,55.895,31.565,55.895h82.234V288.014h-2.137v-1.78L697.754,286.233L697.754,286.233z"/>
  <path opacity="0.7" fill="#2DB34A" enable-background="new    " d="M338.905,18.521l-10.914,67.64c0,0,22.231,40.678,57.191,10.681
    c51.032-43.788,17.919-65.387,17.919-65.387L338.905,18.521z"/>
  <path opacity="0.7" fill="#F8951D" enable-background="new    " d="M383.762,177.298H596.65c0,0,3.206,27.769-101.459,27.769
    s-111.43-9.613-111.43-9.613V177.298L383.762,177.298z"/>
  <rect x="46.273" y="175.874" opacity="0.7" fill="#B469AB" enable-background="new    " width="281.002" height="195.087"/>
  <path opacity="0.7" fill="#52C8EB" enable-background="new    " d="M38.38,42.215L19,143.417c0,0,5.54,26.247,40.5-3.75
    c51.032-43.788,38.25-84.5,38.25-84.5L38.38,42.215z"/>
</g>
<g id="outer_walls">
  <polygon fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="39.153,43.441 14.945,162.701
    14.945,433.262 381.625,433.262 381.625,393.39 703.094,393.39 703.094,288.014 701.047,288.014 701.047,280.094 764.681,280.094
    764.681,180.146 701.312,180.146 701.312,175.874 758.984,175.874 773.226,106.098 338.905,18.521 327.991,86.161 172.297,69.785
    "/>
</g>
<g id="inner_walls">
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="382.337,206.378 382.337,286.233
    590.24,286.233 590.24,220.729 382.337,220.018   "/>
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="596.648,175.874 382.337,175.874
    382.337,195.477   "/>
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="619.077,175.874 700.957,175.874
    700.957,191.538   "/>
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="700.957,212.186 700.957,221.44
    700.957,286.233 620.857,286.233   "/>
  <path fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" d="M641.861,221.442v64.791V221.442z"/>

    <line fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" x1="640.438" y1="221.442" x2="700.957" y2="221.442"/>

    <line fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" x1="538.266" y1="221.442" x2="538.266" y2="286.233"/>

    <line fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" x1="486.288" y1="221.442" x2="486.288" y2="286.233"/>

    <line fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" x1="435.025" y1="221.442" x2="435.025" y2="286.233"/>

    <rect x="46.273" y="175.874" fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" width="281.002" height="195.087"/>
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="344.364,433.262 344.364,393.39
    381.625,393.39 381.625,360.519 355.756,360.519  "/>
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="74.753,175.874 74.753,164.482
    86.501,164.482 93.74,159.735  "/>
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="109.878,175.874 109.878,164.482
    95.164,164.482  "/>
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="77.304,370.961 77.304,384.193
    87.925,384.193 97.181,387.338   "/>
  <polyline fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" points="113.142,370.961 113.142,384.252
    99.317,384.252  "/>

    <line fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" x1="382.337" y1="286.233" x2="382.337" y2="328.775"/>
  <circle fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" cx="362.995" cy="413.68" r="14.904"/>

    <line fill="none" stroke="#353535" stroke-width="1.5" stroke-miterlimit="10" x1="716.25" y1="94.417" x2="701.083" y2="175.541"/>
</g>
<g id="Stair">
  <polygon fill="#FFFFFF" stroke="#353535" stroke-miterlimit="10" points="433.601,136.24 464.924,135.321 522.602,133.629
    522.602,165.669 433.601,167.687   "/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="464.697" y1="166.981" x2="464.697" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="461.85" y1="166.981" x2="461.85" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="459.001" y1="166.981" x2="459.001" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="456.153" y1="166.981" x2="456.153" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="453.305" y1="166.981" x2="453.305" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="450.458" y1="166.981" x2="450.458" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="447.608" y1="166.981" x2="447.608" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="444.762" y1="166.981" x2="444.762" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="441.912" y1="166.981" x2="441.912" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="439.065" y1="166.981" x2="439.065" y2="136.746"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="436.217" y1="166.981" x2="436.217" y2="136.746"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="491.753" y1="166.981" x2="491.753" y2="135.321"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="494.602" y1="165.558" x2="494.602" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="497.449" y1="165.558" x2="497.449" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="500.296" y1="165.558" x2="500.296" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="503.145" y1="165.558" x2="503.145" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="505.992" y1="165.558" x2="505.992" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="508.841" y1="165.558" x2="508.841" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="511.688" y1="165.558" x2="511.688" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="514.537" y1="165.558" x2="514.537" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="517.384" y1="165.558" x2="517.384" y2="133.897"/>
  <line fill="none" stroke="#353535" stroke-miterlimit="10" x1="520.233" y1="165.558" x2="520.233" y2="133.897"/>
</g>
<g id="pillars">
  <circle fill="#353535" cx="248.837" cy="100.284" r="4.154"/>
  <circle fill="#353535" cx="175.976" cy="91.977" r="4.154"/>
  <circle fill="#353535" cx="103.945" cy="82.738" r="4.153"/>
  <circle fill="#353535" cx="321.223" cy="108.59" r="4.154"/>
  <circle fill="#353535" cx="310.544" cy="160.329" r="4.154"/>
  <circle fill="#353535" cx="238.632" cy="151.864" r="4.154"/>
  <circle fill="#353535" cx="165.059" cy="143.558" r="4.154"/>
  <circle fill="#353535" cx="93.74" cy="135.322" r="4.153"/>
  <circle fill="#353535" cx="432.064" cy="112.743" r="4.153"/>
  <circle fill="#353535" cx="542.418" cy="110.963" r="4.152"/>
  <path fill="#353535" d="M660.019,112.743c0,2.294-1.857,4.153-4.154,4.153c-2.294,0-4.151-1.859-4.151-4.153
    s1.857-4.154,4.151-4.154C658.159,108.589,660.019,110.449,660.019,112.743z"/>
  <circle fill="#353535" cx="384.359" cy="168.288" r="4.153"/>
  <circle fill="#353535" cx="420.733" cy="168.288" r="4.153"/>
  <circle fill="#353535" cx="532.517" cy="169.111" r="4.153"/>
  <circle fill="#353535" cx="643.884" cy="169.111" r="4.152"/>
</g>
<g id="text">
  <text transform="matrix(1 0 0 1 131.001 281.9634)" fill="#353535" font-family="'OpenSans-Bold'" font-size="13">Föreläsningssal</text>
  <text transform="matrix(1 0 0 1 441.9121 194.5376)" fill="#353535" font-family="'OpenSans-Bold'" font-size="13">Student Expo</text>
  <text transform="matrix(1 0 0 1 619.0771 344.0854)" fill="#353535" font-family="'OpenSans-Bold'" font-size="13">Lounge</text>
  <text transform="matrix(0.9851 0.172 -0.172 0.9851 338.8208 59.104)" fill="#353535" font-family="'OpenSans-Bold'" font-size="13">Reception</text>
</g>
</svg>
