<h3>Contact us</h3>
<p>
  Do you want to contribute to MTD and support our work? Contact Cristoffer, and we'll make sure to provide you with all the information you need.
</p>
<ul class="list-unstyled">
  <%= content_tag :li, link_to(icon('paper-plane') + ' cristoffer@medieteknikdagarna.se', 'mailto:cristoffer@medieteknikdagarna.se') %>
  <%= content_tag :li, link_to(icon('phone') + ' +4672-579 36 23', 'tel:+46725793623') %>
</ul>
<p>
  <%= icon("download") %> You can also download the information as <%= link_to "PDF in Swedish", "/documents/mtd16-partnership-sv.pdf" %>, or <%= link_to "PDF in English", "/documents/mtd16-partnership-eng.pdf" %>.
</p>
