<h3>Contact us</h3>
<p>
  Do you want to contribute to MTD and support our work? Contact Emma, and we'll make sure to provide you with all the information you need.
</p>
<ul class="list-unstyled">
  <%= content_tag :li, link_to(icon('paper-plane') + ' emma@medieteknikdagarna.se', 'mailto:emma@medieteknikdagarna.se') %>
  <%= content_tag :li, link_to(icon('phone') + ' +4670-311 69 21', 'tel:+46703116921') %>
</ul>
<p>
  <%= icon("download") %> The sponsor info is also available as a <%= link_to "PDF in Swedish", "/documents/sponsor-mtd-2015.pdf" %>, and a <%= link_to "PDF in English", "/documents/sponsor-mtd-2015-en.pdf" %>.
</p>
