<h3>Kontakta oss</h3>
<p>
  Är du sugen på att stötta MTD och bli partner? Kontakta Emil, så kan vi snacka mer om hur vi kan komma överens och hitta något som fungerar för oss båda.
</p>
<ul class="list-unstyled">
  <%= content_tag :li, link_to(icon('paper-plane') + ' emil@medieteknikdagarna.se', 'mailto:emil@medieteknikdagarna.se') %>
  <%= content_tag :li, link_to(icon('phone') + ' +4676-273 11 37', 'tel:+46762731137') %>
</ul>
<!--
<p>
  <%= icon("download") %> Du kan även ladda ned sponsorinfon som <%= link_to "PDF på svenska", "/documents/mtd16-partnership-sv.pdf" %>, och <%= link_to "PDF på engelska", "/documents/mtd16-partnership-eng.pdf" %>.
</p>
-->
