<div class="container">
  <%= content_tag :h1, t('.title') %>
  <div class="row">
    <div class="col-sm-8">
      <%= content_tag :p, t('.lead'), class: 'lead' %>

      <%= render 'static_pages/sponsor/gold_content' %>
    </div>
    <div class="col-sm-4">
      <%= render 'static_pages/sponsor/packages' %>
    </div>
  </div>
  <section class="info limit-width">
    <%= render 'static_pages/sponsor/contact' %>
  </section>
</div>
