<% title '– ' + t('menu_sponsor') %>
<div class="container">
  <section class="info limit-width">
    <%= content_tag :h1, t('.title') %>
    <%= content_tag :p, t('.lead'), class: 'lead' %>
    <%= content_tag :p, t('.second') %>
  </section>
</div>
<div id="deals">
  <div class="container">
    <section class="info text-center">
      <h2>
        <%= t('.deals.title') %> – <%= link_to t('.deals.compare'), sponsorship_compare_path %>
      </h2>
      <%= content_tag :h2, t('.deals.title') %>
      <%= content_tag :p, t('.deals.intro'), class: 'lead' %>

      <div class="deals">
        <div class="deal bronze">
          <%= content_tag :h3, t('.deals.bronze.title') %>
          <!-- <%= content_tag :h4, t('.deals.bronze.price') %> -->
          <ul>
            <%= content_tag :li, t('.deals.bronze.one') %>
            <%= content_tag :li, t('.deals.bronze.two') %>
            <%= content_tag :li, t('.deals.bronze.three') %>
            <%= content_tag :li, t('.deals.bronze.four') %>
          </ul>
          <%= link_to icon('arrow-circle-right', '') + ' ' + t('.deals.readmore'), sponsorship_bronze_path, class: 'button' %>
        </div>
        <div class="deal silver">
          <%= content_tag :h3, t('.deals.silver.title') %>
          <!-- <%= content_tag :h4, t('.deals.silver.price') %> -->
          <ul>
            <%= content_tag :li, t('.deals.silver.one'), class: 'strong' %>
            <%= content_tag :li, t('.deals.silver.two') %>
            <%= content_tag :li, t('.deals.silver.three') %>
            <%= content_tag :li, t('.deals.silver.four') %>
          </ul>
          <%= link_to icon('arrow-circle-right', '') + ' ' + t('.deals.readmore'), sponsorship_silver_path, class: 'button' %>
        </div>
        <div class="deal gold">
          <%= content_tag :h3, t('.deals.gold.title') %>
          <!-- <%= content_tag :h4, t('.deals.gold.price') %> -->
          <ul>
            <%= content_tag :li, t('.deals.gold.one'), class: 'strong' %>
            <%= content_tag :li, t('.deals.gold.two') %>
            <%= content_tag :li, t('.deals.gold.three') %>
            <%= content_tag :li, t('.deals.gold.four') %>
          </ul>
          <%= link_to icon('arrow-circle-right', '') + ' ' + t('.deals.readmore'), sponsorship_gold_path, class: 'button' %>
        </div>
      </div>

      <%= content_tag :p, t('.common') %>
    </section>
  </div>
</div>
<div class="container">
  <section class="info text-center">
  </section>

  <section class="info limit-width">
    <%= content_tag :h4, t('.deals.fair.title') %>
    <%= content_tag :p, t('.deals.fair.text') %>
  </section>

  <section class="info limit-width">
    <%= render 'static_pages/sponsor/contact' %>
  </section>
</div>
