<% title(' – ' + t('.title')) %>
<div class="container">
  <section class="info">
    <%= content_tag :h1, t('media_technology_days') + ' 2015' %>
    <div class="limit-width">
      <%= content_tag :p, t('.lead'), class: 'lead' %>
      <%= content_tag :p, t('.second') %>
      <%= content_tag :p, t('.third') %>
      <%= content_tag :p, link_to(t('.previous'), about_previous_path) %>
    </div>
  </section>

  <div class="info limit-width">
    <%= content_tag :h2, t('.programme.title') %>
    <%= render 'static_pages/about/program' %>
  </div>

  <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.group.title') %>
      <%= content_tag :p, t('.group.text'), class: 'lead' %>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/philip@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Philip Burridge'), 'mailto:philip@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.manager') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' philip@medieteknikdagarna.se', 'mailto:philip@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-561 56 26', 'tel:+46705615626') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/kristina@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Kristina Engström'), 'mailto:kristina@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.economy') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' kristina@medieteknikdagarna.se', 'mailto:kristina@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-871 65 69', 'tel:+46708716569') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/emma@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Emma Edvardsson'), 'mailto:emma@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.business') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' emma@medieteknikdagarna.se', 'mailto:emma@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-311 69 21', 'tel:+46703116921') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/fredrik@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Fredrik Johnson'), 'mailto:fredrik@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.fair') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' fredrik@medieteknikdagarna.se', 'mailto:fredrik@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-465 51 23', 'tel:+46704655123') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/cecilia@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Cecilia Lagerwall'), 'mailto:cecilia@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.assistant') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' cecilia@medieteknikdagarna.se', 'mailto:cecilia@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-595 69 22', 'tel:+46735956922') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/therese@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Therése Komstadius'), 'mailto:therese@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.lecture') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' therese@medieteknikdagarna.se', 'mailto:therese@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-940 42 28', 'tel:+46739404228') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/max@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Max Jonsson'), 'mailto:max@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.banquet') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' max@medieteknikdagarna.se', 'mailto:max@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-920 41 23', 'tel:+46709204123') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/johan@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Johan Sylvan'), 'mailto:johan@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.tech') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' johan@medieteknikdagarna.se', 'mailto:johan@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-366 55 08', 'tel:+46733665508') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/mattias@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Mattias Palmgren'), 'mailto:mattias@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.pr') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' mattias@medieteknikdagarna.se', 'mailto:mattias@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-725 78 09', 'tel:+46707257809') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/alexander@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Alexander Cederblad'), 'mailto:alexander@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.print') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' alexander@medieteknikdagarna.se', 'mailto:alexander@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-060 72 75', 'tel:+46730607275') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/karin@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Karin Reidarman'), 'mailto:karin@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.coordinator') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' karin@medieteknikdagarna.se', 'mailto:karin@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-740 30 65', 'tel:+46707403065') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/klas@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Klas Eskilson'), 'mailto:klas@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.web') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' klas@medieteknikdagarna.se', 'mailto:klas@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-730 73 56', 'tel:+46737307356') %>
        </ul>
      </div>
    </div>
  </section>

  <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.logo.title') %>
      <%= content_tag :p, t('.logo.text') %>

      <ul>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Illustrator .ai)', asset_url('logos/print.ai')) %>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Vector .svg)', asset_url('logos/print.svg')) %>
        <%= content_tag :li, link_to(t('.logo.web') + ' (.png)', asset_url('logos/web.png')) %>
        <%= content_tag :li, link_to(t('.logo.web_high') + ' (.png)', asset_url('logos/web_high.png')) %>
      </ul>
    </div>
  </section>
</div>
