<% title(' – ' + t('.title')) %>
<div class="container">
  <section class="info">
    <%= content_tag :h1, t('media_technology_days') + ' 2016' %>
    <div class="limit-width">
      <%= content_tag :p, t('.lead'), class: 'lead' %>
      <%= content_tag :p, t('.second') %>
      <%= content_tag :p, t('.third') %>
      <!-- <%= content_tag :p, link_to(t('.previous'), about_previous_path) %> -->
    </div>
  </section>

  <div class="info limit-width">
    <%= content_tag :h2, t('.programme.title') %>
    <%= render 'static_pages/about/program' %>
  </div>

  <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.group.title') %>
      <%= content_tag :p, t('.group.text'), class: 'lead' %>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/linnea@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Linnea Malcherek'), 'mailto:linnea@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.manager') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' linnea@medieteknikdagarna.se', 'mailto:linnea@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4676-836 36 90', 'tel:+46768363690') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/adam@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Adam Alsegård'), 'mailto:adam@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.economy') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' adam@medieteknikdagarna.se', 'mailto:adam@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-758 91 77', 'tel:+46707589177') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/cristoffer@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Cristoffer Särevall'), 'mailto:cristoffer@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.business') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' cristoffer@medieteknikdagarna.se', 'mailto:cristoffer@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4672-579 36 23', 'tel:+46725793623') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/albin@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Albin Bergström'), 'mailto:albin@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.fair') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' albin@medieteknikdagarna.se', 'mailto:albin@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-277 87 14', 'tel:+46702778714') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/isabell@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Isabell Jansson'), 'mailto:isabell@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.assistant') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' isabell@medieteknikdagarna.se', 'mailto:isabell@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-061 68 10', 'tel:+46730616810') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/mikaela@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Mikaela Koller'), 'mailto:mikaela@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.lecture') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' mikaela@medieteknikdagarna.se', 'mailto:mikaela@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-496 86 98', 'tel:+46704968698') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/madeleine@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Madeleine Rapp'), 'mailto:madeleine@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.banquet') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' madeleine@medieteknikdagarna.se', 'mailto:madeleine@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-676 69 29', 'tel:+46706766929') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/johan@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Johan Eriksson'), 'mailto:johan@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.tech') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' johan@medieteknikdagarna.se', 'mailto:johan@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4676-029 00 95', 'tel:+46760290095') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/sara@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Sara Martin'), 'mailto:sara@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.pr_print') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' sara@medieteknikdagarna.se', 'mailto:sara@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-934 78 23', 'tel:+46739347823') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/carl@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Carl Englund'), 'mailto:carl@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.coordinator') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' carl@medieteknikdagarna.se', 'mailto:carl@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4672-727 31 25', 'tel:+46727273125') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/jonathan@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Jonathan Grangien'), 'mailto:jonathan@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.web') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' jonathan@medieteknikdagarna.se', 'mailto:jonathan@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-365 11 12', 'tel:+46733651112') %>
        </ul>
      </div>
    </div>
  </section>

  <!-- <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.logo.title') %>
      <%= content_tag :p, t('.logo.text') %>

      <ul>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Illustrator .ai)', asset_url('logos/print.ai')) %>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Vector .svg)', asset_url('logos/print.svg')) %>
        <%= content_tag :li, link_to(t('.logo.web') + ' (.png)', asset_url('logos/web.png')) %>
        <%= content_tag :li, link_to(t('.logo.web_high') + ' (.png)', asset_url('logos/web_high.png')) %>
      </ul>
    </div>
  </section> -->
</div>
