<% title(' – ' + t('.title')) %>
<div class="container">
  <section class="info">
    <%= content_tag :h1, t('media_technology_days') + ' 2017' %>
    <div class="limit-width">
      <%= content_tag :p, t('.lead'), class: 'lead' %>
      <%= content_tag :p, t('.second') %>
      <%= content_tag :p, t('.third') %>
      <!-- <%= content_tag :p, link_to(t('.previous'), about_previous_path) %> -->
    </div>
  </section>

  <div class="info limit-width">
    <%= content_tag :h2, t('.programme.title') %>
    <%= render 'static_pages/about/program' %>
  </div>

  <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.group.title') %>
      <%= content_tag :p, t('.group.text'), class: 'lead' %>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/karim@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Karim Samim'), 'mailto:karim@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.manager') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' karim@medieteknikdagarna.se', 'mailto:karim@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4676-707 78 96', 'tel:+46767077896') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/simon@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Simon Johansson'), 'mailto:simon@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.economy') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' simon@medieteknikdagarna.se', 'mailto:simon@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-399 99 97', 'tel:+46703999997') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/emil@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Emil Juopperi'), 'mailto:emil@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.business') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' emil@medieteknikdagarna.se', 'mailto:emil@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4676-273 11 37', 'tel:+46762731137') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/fanny@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Fanny Aldén'), 'mailto:fanny@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.fair') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' fanny@medieteknikdagarna.se', 'mailto:fanny@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-201 80 99', 'tel:+46732018099') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/molly@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Molly Middagsfjell'), 'mailto:molly@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.assistant') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' molly@medieteknikdagarna.se', 'mailto:molly@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-725 11 05', 'tel:+46707251105') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/my@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'My Rydberg'), 'mailto:my@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.lecture') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' my@medieteknikdagarna.se', 'mailto:my@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-644 72 60', 'tel:+46706447260') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/annie@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Annie Lantz'), 'mailto:annie@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.banquet') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' annie@medieteknikdagarna.se', 'mailto:annie@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-813 57 98', 'tel:+46738135798') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/jacob@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Jacob Andersson'), 'mailto:jacob@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.tech') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' jacob@medieteknikdagarna.se', 'mailto:jacob@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-686 70 88', 'tel:+46706867088') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/david@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'David Tran'), 'mailto:david@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.pr') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' david@medieteknikdagarna.se', 'mailto:david@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-240 13 593', 'tel:+46732401359') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/johanna@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Johanna Westberg'), 'mailto:johanna@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.coordinator') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' johanna@medieteknikdagarna.se', 'mailto:johanna@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4670-897 95 29', 'tel:+46708979529') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/ola@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Ola Steen'), 'mailto:ola@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.web') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' ola@medieteknikdagarna.se', 'mailto:ola@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4673-706 22 84', 'tel:+46737062284') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/adam@2x.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Adam Rohdin'), 'mailto:adam.rohdin@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.print') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' adam.rohdin@medieteknikdagarna.se', 'mailto:adam.rohdin@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +4676-764 80 61', 'tel:+46767648061') %>
        </ul>
      </div>
    </div>
  </section>

  <!-- <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.logo.title') %>
      <%= content_tag :p, t('.logo.text') %>

      <ul>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Illustrator .ai)', asset_url('logos/print.ai')) %>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Vector .svg)', asset_url('logos/print.svg')) %>
        <%= content_tag :li, link_to(t('.logo.web') + ' (.png)', asset_url('logos/web.png')) %>
        <%= content_tag :li, link_to(t('.logo.web_high') + ' (.png)', asset_url('logos/web_high.png')) %>
      </ul>
    </div>
  </section> -->
</div>
