<% title(' – ' + t('.title')) %>
<div class="container">
  <section class="info">
    <%= content_tag :h1, t('media_technology_days') + ' 2018' %>
    <div class="limit-width">
      <%= content_tag :p, t('.lead'), class: 'lead' %>
      <%= content_tag :p, t('.second') %>
      <%= content_tag :p, t('.third') %>
      <!-- <%= content_tag :p, link_to(t('.previous'), about_previous_path) %> -->
    </div>
    <%= link_to t('.info-link'), image_url('info_en_2018.pdf') %>
  </section>

  <div class="info limit-width">
    <%= content_tag :h2, t('.programme.title') %>
    <%= render 'static_pages/about/program' %>
  </div>

  <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.group.title') %>
      <%= content_tag :p, t('.group.text'), class: 'lead' %>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/18-Rebecca.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Aniisa Bihi'), 'mailto:aniisa.bihi@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.manager') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' aniisa.bihi@medieteknikdagarna.se', 'mailto:aniisa.bihi@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 739 824 481 ', 'tel:+46 739 824 481 ') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Tobias.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Johanna Granström'), 'mailto:johanna.granstrom@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.economy') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' johanna.granstrom@medieteknikdagarna.se', 'mailto:johanna.granstrom@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 738 068 049 ', 'tel:+46 738 068 049') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Gustaf.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Ronja Faltin'), 'mailto:ronja.faltin@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.business') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' ronja.faltin@medieteknikdagarna.se', 'mailto:ronja.faltin@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 736 164 307', 'tel:+46 736 164 307') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Anna.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Amanda Tydén'), 'mailto:amanda.tyden@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.fair') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' amanda.tyden@medieteknikdagarna.se', 'mailto:amanda.tyden@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 733 395 385', 'tel:+46 733 395 385') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/18-Karl.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Adam Lindfors'), 'mailto:adam.lindfors@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.assistant') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' adam.lindfors@medieteknikdagarna.se', 'mailto:adam.lindfors@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 709 716 091', '+46 709 716 091') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-MalinN.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Ester Lindgren'), 'mailto:ester.lindgren@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.lecture') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' ester.lindgren@medieteknikdagarna.se', 'mailto:ester.lindgren@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 725 011 010', '+46 725 011 010') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Martin.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Fanny Andersson'), 'mailto:fanny.andersson@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.banquet') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' fanny.andersson@medieteknikdagarna.se', 'mailto:fanny.andersson@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 708 628 579', 'tel:+46 708 628 579') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Erik.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'David Eriksson'), 'mailto:david.eriksson@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.tech') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' david.eriksson@medieteknikdagarna.se', 'mailto:david.eriksson@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 763 924 168', 'tel:+46 763 924 168') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/18-Emma.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Adam Morén'), 'mailto:adam.moren@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.pr') %>
        <%= content_tag :h4, t('.group.app') %>        
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' adam.moren@medieteknikdagarna.se', 'mailto:adam.moren@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 735 692 056', 'tel:+46 735 692 056') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Malin.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Emilie Ho'), 'mailto:emilie.ho@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.coordinator') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' emilie.ho@medieteknikdagarna.se', 'mailto:emilie.ho@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 762 468 485', 'tel:+46 762 468 485') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Jesper.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Frans Johansson'), 'mailto:frans.johansson@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.web') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' frans.johansson@medieteknikdagarna.se', 'mailto:frans.johansson@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 703 701 292', 'tel:+46 703 701 292') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Josse.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Rasmus Elmersson'), 'mailto:rasmus.elmersson@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.print') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' rasmus.elmersson@medieteknikdagarna.se', 'mailto:rasmus.elmersson@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 735 455 725', 'tel:+46 735 455 725') %>
        </ul>
      </div>
    </div>
  </section>

  <!-- <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.logo.title') %>
      <%= content_tag :p, t('.logo.text') %>

      <ul>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Illustrator .ai)', asset_url('logos/print.ai')) %>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Vector .svg)', asset_url('logos/print.svg')) %>
        <%= content_tag :li, link_to(t('.logo.web') + ' (.png)', asset_url('logos/web.png')) %>
        <%= content_tag :li, link_to(t('.logo.web_high') + ' (.png)', asset_url('logos/web_high.png')) %>
      </ul>
    </div>
  </section> -->
</div>
