<% title(' – ' + t('.title')) %>
<div class="container">
  <section class="info">
    <%= content_tag :h1, t('media_technology_days') + ' 2018' %>
    <div class="limit-width">
      <%= content_tag :p, t('.lead'), class: 'lead' %>
      <%= content_tag :p, t('.second') %>
      <%= content_tag :p, t('.third') %>
      <!-- <%= content_tag :p, link_to(t('.previous'), about_previous_path) %> -->
    </div>
    <%= link_to t('.info-link'), image_url('info_2018.pdf') %>
  </section>

  <div class="info limit-width">
    <%= content_tag :h2, t('.programme.title') %>
    <%= render 'static_pages/about/program' %>
  </div>

  <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.group.title') %>
      <%= content_tag :p, t('.group.text'), class: 'lead' %>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/18-Rebecca.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Rebecca Cedermalm'), 'mailto:rebecca.cedermalm@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.manager') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' rebecca.cedermalm@medieteknikdagarna.se', 'mailto:rebecca.cedermalm@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 707 388 969 ', 'tel:+46 707 388 969 ') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Tobias.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Tobias Pettersson'), 'mailto:tobias.pettersson@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.economy') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' tobias.pettersson@medieteknikdagarna.se', 'mailto:tobias.pettersson@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 706 233 482 ', 'tel:+46 706 233 482') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Gustaf.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Gustaf Liljegren'), 'mailto:gustaf.liljegren@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.business') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' gustaf.liljegren@medieteknikdagarna.se', 'mailto:gustaf.liljegren@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 707 329 939', 'tel:+46 707 329 939') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Anna.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Anna Häägg'), 'mailto:anna.haagg@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.fair') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' anna.haagg@medieteknikdagarna.se', 'mailto:anna.haagg@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 767 657 965', 'tel:+46 767 657 965') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/18-Karl.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Karl Eknefelt'), 'mailto:karl.eknefelt@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.assistant') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' karl.eknefelt@medieteknikdagarna.se', 'mailto:karl.eknefelt@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 725 235 005', '+46 725 235 005') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-MalinN.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Malin Niska'), 'mailto:malin.niska@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.lecture') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' malin.niska@medieteknikdagarna.se', 'mailto:malin.niska@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 737 562 580', '+46 737 562 580') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Martin.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Martin Marklund'), 'mailto:martin.marklund@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.banquet') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' martin.marklund@medieteknikdagarna.se', 'mailto:martin.marklund@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 767 876 918', 'tel:+46 767 876 918') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Erik.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Erik Åkesson'), 'mailto:erik.akesson@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.tech') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' erik.akesson@medieteknikdagarna.se', 'mailto:erik.akesson@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 768 087 642', 'tel:+46 768 087 642') %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'group/18-Emma.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Emma Nilsson'), 'mailto:emma.nilsson@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.pr') %>
        <%= content_tag :h4, t('.group.app') %>        
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' emma.nilsson@medieteknikdagarna.se', 'mailto:emma.nilsson@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 768 482 766', 'tel:+46 768 482 766') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Malin.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Malin Wetterskog'), 'mailto:malin.wetterskog@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.coordinator') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' malin.wetterskog@medieteknikdagarna.se', 'mailto:malin.wetterskog@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 704 806 009', 'tel:+46 704 806 009') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Jesper.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Jesper Lund'), 'mailto:jesper.lund@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.web') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' jesper.lund@medieteknikdagarna.se', 'mailto:jesper.lund@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 768 970 887', 'tel:+46 768 970 887') %>
        </ul>
      </div>
      <div class="person">
        <%= image_tag 'group/18-Josse.jpg', class: 'responsive-image' %>
        <%= link_to content_tag(:h3, 'Josefine Flügge'), 'mailto:josefine.flygge@medieteknikdagarna.se' %>
        <%= content_tag :h4, t('.group.print') %>
        <ul class="contact">
          <%= content_tag :li, link_to(icon('paper-plane') + ' josefine.flygge@medieteknikdagarna.se', 'mailto:josefine.flygge@medieteknikdagarna.se') %>
          <%= content_tag :li, link_to(icon('phone') + ' +46 704 074 975', 'tel:+46 704 074 975') %>
        </ul>
      </div>
    </div>
  </section>

  <!-- <section class="info">
    <div class="limit-width">
      <%= content_tag :h2, t('.logo.title') %>
      <%= content_tag :p, t('.logo.text') %>

      <ul>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Illustrator .ai)', asset_url('logos/print.ai')) %>
        <%= content_tag :li, link_to(t('.logo.print') + ' (Vector .svg)', asset_url('logos/print.svg')) %>
        <%= content_tag :li, link_to(t('.logo.web') + ' (.png)', asset_url('logos/web.png')) %>
        <%= content_tag :li, link_to(t('.logo.web_high') + ' (.png)', asset_url('logos/web_high.png')) %>
      </ul>
    </div>
  </section> -->
</div>
