<%
classes = 'ui form'
classes << ' warning' if @album.errors.any?
if action_name == 'edit'
  form_path = admin_photo_album_path(@album)
  form_method = :put
else
  form_path = admin_photo_albums_path
  form_method = :post
end
%>
<%= form_for(@album, url: form_path, html: { method: form_method, class: classes }) do |f| %>
  <% if @album.errors.any? %>
    <div class="ui warning message">
      <div class="header">Could not create/update album!</div>
      <ul class="list">
        <% @album.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui stackable grid">
    <div class="six wide column">
      <div class="segment">
        <h4 class="ui dividing header"><i class="se flag"></i> Swedish</h4>
        <div class="required field">
          <%= f.label :title_sv, "Swedish title" %>
          <%= f.text_field :title_sv, placeholder: 'Title of the album' %>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="segment">
        <h4 class="ui dividing header"><i class="gb flag"></i> English</h4>
        <div class="required field">
          <%= f.label :title_en, "English title" %>
          <%= f.text_field :title_en, placeholder: 'Title of the album' %>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <h4 class="ui dividing header">Save</h4>
        <%= f.submit "Save", :disable_with => 'Saveing...', class: 'ui primary fluid submit button' %>
      </div>
    </div>
  </div>
<% end %>
