<%= render 'common' %>
<div class="container">
  <h2>
    All photos
  </h2>
  <%= link_to semantic_icon('plus') + 'Create new photo album', new_admin_photo_album_path, class: 'ui green labeled icon button' if can?(:create, PhotoAlbum) %>

  <% @albums.each do |album| %>
    <h3>
      <%= album.title %>
      <%= link_to_if can?(:create, Image), semantic_icon('plus') + 'Add photos', admin_photo_album_path(album) %>
      <%= link_to semantic_icon('edit') + 'Edit', edit_admin_photo_album_path(album) if can?(:edit, album) %>
      <%= link_to semantic_icon('trash') + "Delete", admin_photo_album_path(album), data: {confirm: "Are you sure?"}, method: :delete if can?(:destroy, album) %>    </h3>
    <p>
      <%= album.images.count %> photos
    </p>
  <% end %>
</div>
