<%= render 'common' %>
<div class="container">
  <h2>Photo album <%= @album.title %></h2>
  <h3>
    <%= @album.images.count %> photos
    <%= link_to_if can?(:edit, @album), semantic_icon('edit') + 'Edit', edit_admin_photo_album_path(@album) %>
    <%= link_to_if can?(:destroy, @album), semantic_icon('trash') + "Delete", admin_photo_album_path(@album), data: {confirm: "Are you sure?"}, method: :delete %>
  </h3>
</div>
