<div class="ui top fixed inverted menu grid">
  <div class="computer tablet only row container">
    <a href="<%= admin_path %>" class="item <%= 'active' if controller_name == 'pages' and action_name == 'dashboard' %>">
      MTD Admin
    </a>
    <% if can? :update, User %>
      <a href="<%= admin_users_path %>" class="item <%= 'active' if controller_name == 'users' %>">
        <%= semantic_icon('users') %> Users
      </a>
    <% end %>
    <% if can? :update, News %>
      <a href="<%= admin_news_index_path %>" class="item <%= 'active' if controller_name == 'news' %>">
        <%= semantic_icon('file text') %> News
      </a>
    <% end %>
    <% if can? :update, Host %>
      <a href="<%= admin_hosts_path %>" class="item <%= 'active' if controller_name == 'hosts' %>">
        <%= semantic_icon('child') %> Hosts
      </a>
    <% end %>
    <% if can? :update, Company %>
      <a href="<%= admin_companies_path %>" class="item <%= 'active' if controller_name == 'companies' %>">
        <%= semantic_icon('briefcase') %> Companies
      </a>
    <% end %>
    <% if can? :update, Lecture %>
      <a href="<%= admin_lectures_path %>" class="item <%= 'active' if controller_name == 'lectures' %>">
        <%= semantic_icon('road') %> Lectures
      </a>
    <% end %>
    <% if can? :read, Image %>
      <a href="<%= admin_photo_albums_path %>" class="item <%= 'active' if controller_name == 'photos' %>">
        <%= semantic_icon('photo') %> Photos
      </a>
    <% end %>
    <div class="right menu">
      <div class="item">
        <%= semantic_icon 'user' %>
        <%= current_user.name.split[0].humanize %>
      </div>
      <a href="<%= root_path %>" class="item">
        <%= semantic_icon 'world' %>
        Public page
      </a>
      <%= link_to(semantic_icon('sign out') + 'Log out', destroy_user_session_path, method: :delete, class: 'item') %>
    </div>
  </div>
  <div class="mobile only row container">
    <a href="<%= admin_path %>" class="item <%= 'active' if controller_name == 'pages' and action_name == 'dashboard' %>">
      MTD Admin
    </a>
    <div class="right menu">
      <div class="item">
        <%= semantic_icon 'user' %>
        <%= current_user.name.split[0].humanize %>
      </div>
      <div class="item">
        <%= semantic_icon 'content toggle-menu' %>
      </div>
    </div>
  </div>
</div>
