<div class="ui top fixed inverted main menu">
  <div class="container">
    <a href="<%= admin_path %>" class="item <%= 'active' if controller_name == 'pages' and action_name == 'dashboard' %>">
      MTD Admin
    </a>
    <% if can? :read, User %>
      <a href="<%= admin_users_path %>" class="item <%= 'active' if controller_name == 'users' %>">
        <%= semantic_icon('users') %> Users
      </a>
    <% end %>
    <% if can? :read, News %>
      <a href="<%= admin_news_index_path %>" class="item <%= 'active' if controller_name == 'news' %>">
        <%= semantic_icon('file text') %> News
      </a>
    <% end %>
    <div class="right menu">
      <div class="item">
        <%= semantic_icon 'user' %>
        <%= current_user.name.split[0].humanize %>
      </div>
      <a href="<%= root_path %>" class="item">
        <%= semantic_icon 'world' %>
        Public page
      </a>
      <%= link_to(semantic_icon('road') + 'Log out', destroy_user_session_path, method: :delete, class: 'item') %>
    </div>
  </div>
</div>
