
        <p style="margin: 0 0 15px;">
          <%= t('kind_regards') %>,<br>
          <%= t('the_group') %>
        </p>
      </div> <!-- #content -->
      <footer style="text-align: center;">
        <p style="margin: 0 0 15px;">
          <strong><%= t('media_technology_days') %> 2016</strong> – <%= link_to "medieteknikdagarna.se", "http://medieteknikdagarna.se", style: 'color: #f58223;text-decoration: none;' %><br>
          <%= t('the_date') %>, Norrköping
        </p>
        <p style="margin: 0 0 15px;">
          <%= t('follow_us') %>:
          <%= link_to "Facebook", "https://facebook.com/medieteknikdagarna", style: 'color: #f58223;text-decoration: none;' %> –
          <%= link_to "Twitter", "https://twitter.com/mtdagarna", style: 'color: #f58223;text-decoration: none;' %> –
          <%= link_to "YouTube", "https://youtube.com/mtdagarna", style: 'color: #f58223;text-decoration: none;' %> –
          <%= link_to "Instagram", "https://www.instagram.com/medieteknikdagarna", style: 'color: #f58223;text-decoration: none;' %>
        </p>
      </footer>
    </div> <!-- .container -->
  </body>
</html>
