<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-push-4">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <p>
            <%= t('media_technology_days') %> 2019, <%= t('the_date') %>
          </p>
          <p>
            <%= t('liu') %>, Campus Norrköping<br>
            Bredgatan 40, Norrköping
          </p>
        </div>
        <div class="col-sm-3 col-xs-6 col-sm-pull-6">
          <ul>
            <%= content_tag :li, link_to(t('change_lang_opposite'), url_for(locale: i18n_opposite)) %>
          </ul>
          <ul>
            <%= content_tag :li, link_to(t('layouts.header.about'), about_path) %>
            <%= content_tag :li, link_to(t('layouts.header.contact'), about_contact_path) %>
          </ul>
          <ul>
          <% if user_signed_in? %>
            <%= content_tag :li, link_to(t('user.edit'), edit_user_registration_path) %>
            <%= content_tag :li, link_to(t('user.log_out'), destroy_user_session_path, method: :delete) %>
            <%= content_tag :li, link_to_if(can?(:access_panel, User), "Admin panel", "/admin"){} %>
          <% else %>
            <%= content_tag :li, link_to(t('user.log_in'), new_user_session_path) %>
          <% end %>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-6 col-sm-pull-6">
          <ul>
            <%= content_tag :li, content_tag(:strong, t('follow_us')) %>
            <%= content_tag :li, link_to(icon('facebook-square') + ' Facebook', 'https://facebook.com/medieteknikdagarna', target: 'blank') %>
            <%= content_tag :li, link_to(icon('twitter-square') + ' @mtdagarna', 'https://twitter.com/mtdagarna', target: 'blank') %>
            <%= content_tag :li, link_to(icon('youtube-square') + ' YouTube', 'https://youtube.com/mtdagarna', target: 'blank') %>
            <%= content_tag :li, link_to(icon('instagram') + ' Instagram', 'https://www.instagram.com/medieteknikdagarna/', target: 'blank') %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-sm-pull-8">
      <div class="row">
        <div class="col-xs-4 col-sm-5">
          <%= image_tag "association_logo.png", alt: t('mt_association'), class: 'img-responsive' %>
        </div>
        <div class="col-xs-8 col-sm-7">
          <%= content_tag :p, t('.arranged_by') %>
          <%= content_tag :p, link_to(t('.open_source'), 'https://github.com/medieteknik/MTD') %>
        </div>
      </div>
    </div>
  </div>
</div>
