<header>
  <%= link_to t('media_technology_days'), home_path, class: 'brand'%>
  <%= content_tag :span, '', class: 'togglemenu cross-icon' %>
</header>
<nav>
  <ul class="menu">
    <%= content_tag :li, link_to(t('menu_about'), about_path) %>
    <%= content_tag :li, link_to(t('menu_contact'), about_contact_path) %>
    <%= content_tag :li, link_to(t('menu_previous'), about_previous_path) %>
    <%= content_tag :li, link_to(t('menu_studentexpo'), studentexpos_path) %>
    <%= content_tag :li, link_to(t('menu_sponsor'), sponsorship_path, class: 'sponsor') %>
    <%= content_tag :li, link_to(icon('globe') + ' ' + t('change_lang_opposite'), url_for(locale: i18n_opposite)) %>
  </ul>
</nav>
<footer>
  <p class="small">
    <%= t('short_description') %>
  </p>
  <%= content_tag :h5, t('follow_us') %>
  <%= link_to(icon('facebook-square', '', class: 'fa-2x'), 'https://facebook.com/medieteknikdagarna', target: 'blank') %>
  <%= link_to(icon('twitter-square', '', class: 'fa-2x'), 'https://twitter.com/mtdagarna', target: 'blank') %>
  <%= link_to(icon('youtube-square', '', class: 'fa-2x'), 'https://youtube.com/mtdagarna', target: 'blank') %>
</footer>
