<header>
  <%= link_to t('media_technology_days'), home_path, class: 'brand'%>
  <%= content_tag :span, '', class: 'togglemenu cross-icon' %>
</header>
<nav>
  <ul class="menu">
    <%= content_tag :li, active_link_to(t('menu_about'), about_path, :active => :exclusive) %>
    <%= content_tag :li, active_link_to(t('menu_contact'), about_contact_path) %>
     <%= content_tag :li, link_to(t('menu_companies'), companies_path) %>
		<%= content_tag :li, active_link_to(t('menu_previous'), about_previous_path) %>
		<!--<%= content_tag :li, active_link_to(t('menu_sponsor'), sponsorship_path) %>-->
		<% if Date.today >= Date.parse('2017-01-29') and Date.today <= Date.parse('2017-02-12')%>
			<%= content_tag :li, active_link_to(t('menu_host'), host_path) %>
		<% end %>
		<% if Date.today <= Date.parse('2017-02-25') %>
			<%= content_tag :li, active_link_to(t('menu_studentexpo'), studentexpos_path) %>
		<% end %>
    <%= content_tag :li, active_link_to(t('menu_lectures'), lectures_path) %>
		<!--<%= content_tag :li, active_link_to(t('menu_banquet'), banquet_path) %>-->
		<%= content_tag :li, link_to(icon('globe') + ' ' + t('change_lang_opposite'), url_for(locale: i18n_opposite)) %>
  </ul>
</nav>
<footer>
  <p class="small">
    <%= t('short_description') %>
  </p>
  <%= content_tag :h5, t('follow_us') %>
  <%= link_to(icon('facebook-square', '', class: 'fa-3x'), 'https://facebook.com/medieteknikdagarna', target: 'blank') %>
  <%= link_to(icon('twitter-square', '', class: 'fa-3x'), 'https://twitter.com/mtdagarna', target: 'blank') %>
  <%= link_to(icon('youtube-square', '', class: 'fa-3x'), 'https://youtube.com/mtdagarna', target: 'blank') %>
  <%= link_to(icon('instagram', '', class: 'fa-3x'), 'https://www.instagram.com/medieteknikdagarna/', target: 'blank') %>
</footer>
